---
import Header from "./Header.astro";
import Button from "./Button.astro";
import IconLink from "./IconLink.astro";
import links from "../data/links.json";
---

<section>
  <div class="content">
    <div class="content-area">
      <Header>Hi, I'm Jade 👋</Header>
      <p class="description">
        A web developer and designer based in the Philippines. Sometimes, I obsess over small details but that's just me.
        I mostly do concept designs and frontend development but cover other fields as well.
      </p>
      <Button href="/about" arrow={true} expand={false}>Learn more about me</Button>
      <hr>
      <p class="description">
        Want to get in touch? You can reach me by email or through one of my socials.
      </p>
      <div class="contact">
        <IconLink data={links["email"]}></IconLink>
        <IconLink data={links["github"]}></IconLink>
        <IconLink data={links["bluesky"]}></IconLink>
        <IconLink data={links["linkedin"]}></IconLink>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background-color: rgba(68, 34, 0, .0175);
  }
  .content {
    max-width: 1100px;
    margin: 0 auto;
  }
  .content-area {
    padding: 4rem 0 5rem;
    box-sizing: border-box;
  }
  @media screen and (max-width: 1310px) {
    .content-area {
      width: 100%;
      padding: 4rem 2rem 5rem;
    }
  }
  @media screen and (max-width: 768px) {
    .content,
    .demo {
      width: 100%;
    }
    .content-area {
      padding: 3rem 2rem;
    }
  }
  .description {
    line-height: 1.75;
  }
  .contact {
    display: flex;
    gap: 1.5rem;
    margin: 2rem 0 1rem;
  }
  hr {
    border-top: 1px solid rgba(0, 0, 0, .0375);
    border-bottom: 0;
    margin: 1.5rem 0;
  }
</style>