---
import Link from "./Link.astro";
import IconLink from "./IconLink.astro";
import links from "../data/links.json";
---

<footer>
  <div class="footer">
    <div class="footer-notice">
      <p>© 2025 jsagayap</p>
      <p>·</p>
      <p>Handcrafted with <Link href="https://astro.build" bold={true}>Astro</Link>🚀</p>
    </div>
    <div class="footer-links">
      <IconLink data={links["email"]}></IconLink>
      <IconLink data={links["github"]}></IconLink>
      <IconLink data={links["bluesky"]}></IconLink>
      <IconLink data={links["linkedin"]}></IconLink>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: rgba(0, 0, 0, .0175);
  }
  .footer {
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3rem 0;
    font-size: .75rem;
  }
  .footer-notice {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  .footer-links {
    display: flex;
    gap: 1.5rem;
    opacity: .75;
  }
  p {
    opacity: .75;
    margin: 0;
  }
  @media screen and (max-width: 1310px) {
    .footer {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media screen and (max-width: 768px) {
    .footer {
      flex-direction: column-reverse;
      gap: 1.5rem;
    }
  }
</style>